{% extends "base.html" %}
{% block title %}Edit Game{% endblock %}

{% block content %}

<form action="" method="POST">
    <p>Edit Game</p>
    <p class="medium">Name: <input type="text" name="name" value="{{ game.name }}" required/></p>
    <p class="medium">Abbreviation: <input type="text" name="abv" value="{{ game.abbreviation }}" required/></p>
    <p class="medium">Order Number: <input type="number" name="order_by" value="{{ game.order_by }}" required/></p>
    <p class="medium">Game utilizies IGT: <input type="checkbox" name="use_game_time" id="show_chk_2" /></p>
    <p class="medium">Show on Home Page: <input type="checkbox" name="show_on_home" id="show_chk" /></p>
    <input type="submit" value="Submit" />
</form>
<a class="medium footer" href="{{ url_for('management.delete_game', game_abv=game.abbreviation) }}">Delete Game</a>
<script>
    document.getElementById('show_chk').checked = {{ show_on_home_value }};
    document.getElementById('show_chk_2').checked = {{ use_game_time_value }};
</script>

{% endblock %}