{% extends "base.html" %}
{% block title %}Speedruns{% endblock %}
{% block content %}

{% for x in runs %}
<a href="/{{ x['abv'] }}">{{ x['name'] }}</a><br>
{% for y in x['categories'] %}
<a class="bumped medium" href="/{{ x['abv'] }}/{{ y['abv'] }}">{{ y['name'] }}</a>
{% for z in y['personal_best'] %}
<p><a class="bumped-further small no_color" href="/run/{{ z['url_id'] }}">{{z['timestring']}} <span class="hide_small">achieved on </span><span class="show_small">| </span>{{z['date']}}{% if z['players'] != None %} with {{ z['players'] }}{% endif %}</a></p>
{% endfor %}
{% endfor %}
{% endfor %}

{% endblock %}