{% extends "base.html" %}
{% block title %}Make Comparison{% endblock %}
{% block content %}

<p><a href="/{{ run1['game_abv'] }}">{{ run1['game_name'] }}</a><span class="hide_small"> - </span><span class="show_small"><br></span><a href="/{{ run1['game_abv'] }}/{{ run1['category_abv'] }}">{{ run1['category_name'] }}</a>{% if run1['subcategory'] != None %} ({{ run1['subcategory'] }}){% endif %}</p>
<p class="bumped medium"><a href="/run/{{ run1['url_id'] }}">{{run1['timestring']}}</a>{% if run1['players'] != None %} with {{ run1['players'] }}{% endif %}</p>
<p class="bumped medium"><span class="hide_small">Achieved on </span>{{run1['date']}}</p>
{% if run1['platform'] != None %}
<p class="bumped medium"><span class="hide_small">Platform: </span>{{run1['platform']}}</p>
{% endif %}
{% if run1['demos'] != None %}
<p class="bumped medium"><a href="{{ run1['demos'] }}">Demos</a></p>
{% endif %}
<p>Valid Comparisons</p>
{% if category_filter %}

{% for x in run_history.items() %}
<p class="bumped medium">{{ x[0] }}</p>
{% for y in x[1] %}
<p class="bumped-further small"><a href="{{ run1['url_id'] }}/{{ y['url_id'] }}">{{ y['timestring'] }}</a> <span class="hide_small">achieved on </span><span class="show_small">| </span>{{ y['date'] }}{% if y['players'] != None %} with {{ y['players'] }}{% endif %}</p>
{% endfor %}
{% endfor %}

{% else %}

{% for x in run_history %}
<p class="bumped small"><a href="{{ run1['url_id'] }}/{{ x['url_id'] }}">{{ x['timestring'] }}</a> <span class="hide_small">achieved on </span><span class="show_small">| </span>{{ x['date'] }}{% if x['players'] != None %} with {{ x['players'] }}{% endif %}</p>
{% endfor %}

{% endif %}
{% endblock %}